<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>

  <img src="http://i.imgur.com/ggzwIHN.png" height="250" width="250"/>

  <div *ngIf="!auth.authenticated()">
      <button ion-button (click)="userLogin()">Login</button>
      <!-- Button added for test purposes until login is fixed -->
      <button ion-button (click)="goToMap()">Go to map</button>
  </div>

  <div *ngIf="auth.authenticated()">
      <button ion-button (click)="auth.logout()">Logout</button>
      <button ion-button (click)="goToMap()">Go to map</button>
  </div>
  <p>- or -</p>
  <p>If you're a driver, enter your code
    then tap a button above to sign in</p>

  <ion-item>
    <ion-input type="text" placeholder="Enter Code"></ion-input>
  </ion-item>
  
</ion-content>